.site {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 120px 1fr 120px;
    min-height: 100vh;
    grid-column-gap: 50px;
}

.header,
.footer {
    grid-column: span 2;
}

h1 {
    margin-block: 5px;
}

h2 {
    margin-block: 0px;
    color: #df4873;
}

p {
    margin-block: 5px;
}

h3 {
    margin-block: 5px;
}

.item a {
    color: #286fb4;
    font-size: 14px;
}

.item img {
    padding-top: 30px;
    width: 100%;
    height: 400px;
    padding-bottom: 10px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0px 20px 40px;
}

.item__button {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.form {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 40px 20px 0px;
}

.form__contenido {
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    grid-gap: 15px 20px;
}

.form__item {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form__item textarea {
    height: 100%;
}

@media only screen and (max-width: 850px) {
    .site {
        grid-template-columns: 1fr;
        grid-template-rows: 120px 0.5fr 1fr 120px;
        min-height: 100vh;
    }

    .form {
        padding-left: 40px;
        padding-bottom: 20px;
    }

    .item {
        padding-right: 40px;
        padding-top: 20px;
    }

    .header,
    .footer {
        grid-column: span 1;
    }
}