.site {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 120px 100px 1fr 120px;
    min-height: 100vh;
}

h1 {
    margin-block: auto;
}

h2 {
    margin-block: 10px;
}

p {
    margin-block: 5px;
}

h3 {
    margin-block: 5px;
}

h3:hover {
    font-weight: bold;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
}

.header,
.footer,
.navegacion {
    grid-column: span 2;

}

.navegacion {
    padding: 20px 30px 10px 30px;
}

.navegacion__busqueda {
    margin-top: 15px;
    margin-right: 15px;
    width: 500px;
    background-color: #e9e9e9;
    color: #333333;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #c7c7c7;
    font-family: 'Noto Sans', sans-serif;
    height: 10px;
    padding: 10px 10px 10px 10px;
}

.button {
    width: 100px;
    height: 30px;
    font-size: 14px;
}

.articulos__imagen {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 200px;
    height: 200px;
}

.articulos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #e9e9e9;
    margin: 30px 40px 30px 40px;
    padding: 10px 10px 10px 10px;
}

@media only screen and (max-width: 850px) {
    .site {
        grid-template-columns: 1fr;
        grid-template-rows: 120px 100px 1fr 1fr 120px;
        min-height: 100vh;
    }

    .header,
    .footer,
    .navegacion {
        grid-column: span 1;
    }

    .navegacion__busqueda {
        width: auto;
        min-width: 200px;
    }

    .articulos__gato {
        margin-top: 0px;
    }
}

@media only screen and (max-width: 401px) {
    .site {
        grid-template-columns: 1fr;
        grid-template-rows: 120px 150px 1fr 1fr 120px;
        min-height: 100vh;
    }

    .button {
        margin-top: 15px;
    }
}