.site {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 130px 1fr 1fr 50px 120px;
    min-height: 100vh;
}

.header,
.footer,
.navegacion,
.articulo {
    grid-column: span 2;
}

h1 {
    margin-block: auto;
}

h2 {
    margin-block: 10px;
}

p {
    margin-block: 5px;
}

h3 {
    margin-block: 5px;
}

h3:hover {
    font-weight: bold;

}

.navegacion a {
    color: #286fb4;
    font-size: 14px;

}

.volver a {
    color: #286fb4;
    font-size: 14px;
    margin-left: 40px;
}

.navegacion {
    padding: 20px 40px 20px 40px;
}

.navegacion__items {
    margin-top: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    text-align: right;
}

.navegacion__buttons {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    text-align: right;
    min-width: 190px;
}

.navegacion__busqueda {
    margin-right: 15px;
    width: 500px;
    background-color: #e9e9e9;
    color: #333333;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #c7c7c7;
    font-family: 'Noto Sans', sans-serif;
    height: 10px;
    padding: 10px 10px 10px 10px;
}

.button {
    width: auto;
    height: 30px;
    font-size: 14px;
}

.articulo {
    display: flex;
    align-items: flex-start;
    background-color: #e9e9e9;
    margin: 0px 40px 10px 40px;
}

.articulo__imagen {
    height: 100%;
    width: 200px;
}

.articulo__informacion {
    width: calc(100% - 30px);
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    padding: 10px 20px 20px 20px;
}


.articulo__button {
    height: -webkit-fill-available;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

@media only screen and (max-width: 850px) {
    .navegacion__busqueda {
        width: auto;
        min-width: 200px;
    }
}

@media only screen and (max-width: 525px) {
    .site {

        grid-template-columns: 1fr;
        grid-template-rows: 120px 170px 1fr 1fr 50px 120px;
        min-height: 100vh;
    }

    .navegacion__buttons {
        margin-top: 15px;
    }

    .navegacion__items {
        flex-wrap: wrap;
    }
}


@media only screen and (max-width: 470px) {
    .articulo {
        flex-direction: column;
    }

    .articulo__imagen {
        height: 200px;
        width: 100%;
    }
}