.site {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 1fr 120px;
    min-height: 100vh;
}

h1 {
    margin-block: auto;
}

h2 {
    margin-block: 20px;
}

p {
    margin-block-start: 0px;
    margin-block-end: 15px;
}

h3 {
    margin-block: 5px;
}

h3:hover {
    font-weight: bold;

}

.button {
    width: auto;
    height: 30px;
    padding-right: 10px;
    padding-left: 10px
}

.item__button {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.item {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    width: 18vw;
    min-width: 200px;
}

.item--color1,
.item--color2 {
    height: 100%;
}

.lista {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px 70px 20px 70px;
}

.item__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.item__redes {
    width: 100px;
    color: #286fb4;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
}