.site {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 1fr 120px;
    min-height: 100vh;
}

h1 {
    margin-block: 5px;
}

h2 {
    margin-block: 10px;
}

p {
    margin-block: 5px;
}

h3 {
    margin-block: 5px;
}

h3:hover {
    font-weight: bold;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 60px 20px 60px;
}

.form__contenido {
    padding-top: 20px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 100%;
    grid-gap: 15px 50px;
}

.form__item {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form__item textarea {
    height: 100%;
}

.button {
    margin-bottom: 10px;
}

.form__mensaje {
    grid-row: span 4;
}

@media only screen and (max-width: 530px) {
    .form__mensaje {
        grid-row: 5/6;
    }

    .form__contenido {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
    }
}