.site {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 1fr 120px;
    min-height: 100vh;
}

h1 {
    margin-block: 5px;
}

h2 {
    margin-block: 10px;
}

p {
    margin-block: 5px;
}

h3 {
    margin-block: 5px;
}

.form {
    text-align: left;
    padding: 20px 60px 20px 60px;
}

.form__contenido {
    padding-top: 10px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 0.2fr;
    grid-template-rows: repeat(6, 1fr);
    width: 100%;
    grid-gap: 10px 50px;
}

.form__item {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form__item textarea {
    height: 100%;
}

.form__button {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    grid-row: span 6;
}

.form__select {
    margin-top: 5px;
    width: 80vw;
    height: 20px;
}

.form__image {
    margin-top: 5px;
    border: none;
}

@media only screen and (max-width: 850px) {
    .form__contenido {
        grid-template-rows: repeat(7, 1fr);
        grid-template-columns: 1fr 1fr;
    }

    .form__button {
        grid-row: 7/8;
        align-items: flex-start;
    }
}

@media only screen and (max-width: 550px) {
    .form__contenido {
        grid-template-rows: repeat(9, 1fr);
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 0px
    }

    .form__button {
        grid-row: 9/10;
        align-items: flex-start;
    }

    .form__contacto {
        grid-column: span 2;
    }
}