.site {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 1fr 120px;
    min-height: 100vh;
}

.item img {
    width: 250px;
    height: 250px;

}

.main {
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: center;
    padding: 20px 80px 20px 80px;
}

.jornadas {
    padding: 10px 10px 10px 10px;
    grid-column: span 3;
    background-color: #e2f0f9;
    margin: 10px 20px 0px 20px;
}

.jornadas a {
    color: #286fb4;
}

.jornadas__lista {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10px;
}

.jornadas__item {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-bottom: 15px;
}

h1 {
    margin-block: auto;
}

h3 {
    margin-block: auto;
    font-weight: bold;
}

h2 {
    margin-block: 10px;
}

p {
    margin-block: auto;
}

.jornadas__item i {
    font-size: 60px;
    padding-right: 20px;
}

.jornadas__informacion {

    display: flex;
    flex-direction: column;
}

.item__texto {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.item--color3 {
    display: flex;
    align-items: center;
    grid-column: span 3;
    flex-direction: row;
    margin: 20px 0px 20px 0px;
}

.item--color1 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 3;
    flex-direction: row;
    margin: 20px 0px 20px 0px;
}


.item__icon {
    margin-right: 20px;
}


@media only screen and (max-width: 600px) {
    .item--color3 {
        flex-direction: column;
        text-align: center;
    }

    .item--color1 {
        flex-direction: column;
        text-align: center;
    }

    .item__texto {
        text-align: center;
    }

    .item__icon {
        margin-right: 0px;
    }
}