.site {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 1fr 120px;
    min-height: 100vh;
}

.jornada {
    padding: 0px 40px 0px 40px;
}

.jornada a {
    color: #286fb4;
    text-align: right;
    margin-bottom: 20px;
    font-size: 14px;
}

.jornadas__lista {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    width: 400px;
}

.jornadas__item {
    display: flex;
    flex-grow: 1;
    padding-bottom: 15px;
}

.jornadas__item a {
    text-align: left;
}

.jornadas__item i {
    font-size: 60px;
    padding-right: 20px;
}

.jornadas__informacion {

    display: flex;
    flex-direction: column;
}

.jornadas__button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

h3 {
    margin-block: auto;
    font-weight: bold;
}

h2 {
    margin-block: 10px;
}

p {
    margin-block: auto;
}