html {
    font-family: 'Noto Sans', sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
}

input {
    font-family: 'Noto Serif', serif;
    border: none;
    font-size: 14px;
    border-bottom: 2px solid #9e9e9e;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

select {
    background-color: #e9e9e9;
    color: #333333;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #c7c7c7;
}

textarea {
    margin-top: 10px;
    font-family: 'Noto Serif', serif;
    border: none;
    font-size: 14px;
    border: 2px solid #9e9e9e;
    resize: none;
}

label {
    font-family: 'Noto Serif', serif;
    font-size: 14px;
    padding-bottom: 5px;
}

input:focus {
    box-shadow: 0 0 2pt 0pt #b9b9b9;
}

textarea:focus {
    border: 2px solid #333333;
}

header {
    background-color: white;
    border-top: 4px solid #df4873;
    border-bottom: 4px solid #e9e9e9;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.header__menu {
    align-self: center;
}

.header__menuMobile {
    align-self: center;
}

div.header__mobile {
    height: 0px;
    width: 0px;
    position: absolute;
    background: #fff;
    opacity: 0;
    top: 0px;
    right: 0px;
    display: none;
}

a {
    text-decoration: none;
    color: #333333;
}

.header__menu a {
    text-decoration: none;
    padding-right: 50px;
    color: #383434;
}

header img {
    width: 116px;
    height: 97px;
}

.header__menuMobile {
    display: none;
}


footer {
    text-align: center;
    background-color: #383434;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
}

footer p {
    color: white;
}

.footer__copyright {
    align-self: flex-end;
}

.footer__redes {
    align-self: center;
    padding-right: 20px;
}

.footer__redes p {
    margin-block: 0px;
}

.footer__icons {
    margin-top: 10px;
    color: white;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
}

footer img {
    width: 116px;
    height: 97px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
    font-weight: normal;
}

p {
    font-size: 16px;
    color: #333333;
}

.button {
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    width: 220px;
    height: 40px;
    font-weight: bold;
    font-size: 16px;
}


.button--primary {
    background-color: white;
    color: #df4873;
    border: 2px solid #df4873;

}

.button--primary:hover {
    background-color: #df4873;
    color: white;
    outline: 0;
}

.button--primary:active {
    background-color: #df4873;
    color: white;
    outline: 0;
}

.button--primaryAlt {
    background-color: #df4873;
    color: white;
    border: 2px solid #df4873;
}

.button--primaryAlt:hover {
    background-color: white;
    color: #df4873;
    outline: 0;
}

.button--primaryAlt:active {
    background-color: white;
    color: #df4873;
    outline: 0;
}

.button--secondaryAlt {
    background-color: #286fb4;
    color: white;
    border: 2px solid #286fb4;
}

.button--secondaryAlt:hover {
    background-color: white;
    color: #286fb4;
    outline: 0;
}

.button--secondaryAlt:active {
    background-color: white;
    color: #286fb4;
    outline: 0;
}

.button--secondary {
    background-color: white;
    color: #286fb4;
    border: 2px solid #286fb4;
}

.button--secondary:hover {
    background-color: #286fb4;
    color: white;
    outline: 0;
}

.button--secondary:active {
    background-color: #286fb4;
    color: white;
    outline: 0;
}

button:focus {
    outline: 0;
}

input:focus {
    outline: 0;
}

textarea:focus {
    outline: 0;
}

select:focus {
    outline: 0;
}

.item__icon {
    width: 140px;
    height: 140px;
    min-width: 140px;
    min-height: 140px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item--color1 .item__icon {
    border: 4px solid #df4873;
    color: #df4873;
}

.item--color1:hover a {
    color: #df4873;
}

.item--color1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item--color2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item--color3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item--color4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item--color2 .item__icon {
    border: 4px solid #286fb4;
    color: #286fb4;
}

.item--color2:hover a {
    color: #286fb4;
}

.item--color3 .item__icon {
    border: 4px solid #B0DDE4;
    color: #B0DDE4;
}

.item--color3:hover a {
    color: #B0DDE4;
}

.item__icon {
    font-size: 90px;
}

@media only screen and (max-width: 910px) {
    .header__menu a {
        padding-right: 20px;
    }
}

@media only screen and (max-width: 750px) {
    .footer__copyright {
        display: none;
    }

    .footer__redes p {
        opacity: 0
    }

    .header__menuMobile {
        font-size: 30px;
        display: inline;
    }

    .header__menu {
        display: none;
    }

    .header__mobileClose {
        margin-top: 20px;
        margin-left: 20px;
        text-align: left;
    }

    div.header__mobile.expand {
        opacity: 1;
        height: 100%;
        width: 320px;
        display: block;
    }

    div.header__mobile ul li {
        list-style: none;
        position: absolute;
        left: 0;
        opacity: 0;
        width: 320px;
        text-align: center;
        font-size: 0px;
        -webkit-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        -moz-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        -ms-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        -o-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    }

    div.header__mobile ul li a {
        color: #df4873;
        text-decoration: none;
        font-family: 'Noto Sans', sans-serif;
    }

    div.header__mobile li.animate {
        font-size: 18px;
        opacity: 1;
        -webkit-transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        -moz-transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        -ms-transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        -o-transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        transition: all 150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    }

    div.header__mobile li.animate:nth-of-type(1) {
        top: 40px;
        transition-delay: 0.0s;
    }

    div.header__mobile li.animate:nth-of-type(2) {
        top: 80px;
        transition-delay: 0.03s;
    }

    div.header__mobile li.animate:nth-of-type(3) {
        top: 120px;
        transition-delay: 0.06s;
    }

    div.header__mobile li.animate:nth-of-type(4) {
        top: 160px;
        transition-delay: 0.09s;
    }

    div.header__mobile li.animate:nth-of-type(5) {
        top: 200px;
        transition-delay: 0.12s;
    }
}