.site {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 1fr 120px;
    min-height: 100vh;
}

h1 {
    margin-block: auto;
}

h2 {
    margin-block: 20px;
}

p {
    margin-block-start: 0px;
    margin-block-end: 15px;
}

h3 {
    margin-block: 5px;
}

h3:hover {
    font-weight: bold;
}

.header,
.footer {
    grid-column: span 2;

}

.items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0px 70px 0px 70px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #e9e9e9;
    width: 38vw;
    min-width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 20px 20px 20px;
}

.navegacion {
    padding-left: 40px;
    padding-top: 30px;
}

.item__button {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.item--color1,
.item--color2 {
    height: 100%;
    padding: 10px 10px 10px 10px;
}

.item__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

@media only screen and (max-width: 1000px) {
    .item {
        width: 100%;
    }
}