.site {
    display: grid;
    grid-template-columns: 300px minmax(200px, 1fr) 300px;
    grid-template-rows: 120px 1fr 1fr 120px;
    min-height: 100vh;
}

.header,
.footer {
    grid-column: span 3;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 10px 10px 10px 10px;
}

.item__imagen {
    width: 250px;
    height: 100%;
}

.informacion {
    padding-top: 10px;
    padding-bottom: 10px;
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    background-color: #e9e9e9;
    margin: 10px 20px 20px 20px;
}

.informacion__item {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
}

.informacion i {
    font-size: 50px;
}

.informacion__item--color1 {
    color: #df4873;
}

.informacion__item--color2 {
    color: #286fb4;
}

@media only screen and (max-width: 850px) {
    .site {

        grid-template-columns: 1fr;
        grid-template-rows: 120px 0.5px 1fr 0.5px 1fr 120px;
        min-height: 100vh;
    }

    .header,
    .footer,
    .informacion {
        grid-column: span 1;
    }

    .item {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}